@model ETAHN.Family_Members

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Family_Members</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Adhar_Number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adhar_Number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PAN_CardNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PAN_CardNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Election_CardNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Election_CardNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Licence_Number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Licence_Number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bank_Account_detais)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bank_Account_detais)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mobile_Number1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mobile_Number1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mobile_Number2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mobile_Number2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Landline)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Landline)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Occupation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Occupation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Occupation_Location)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Occupation_Location)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Home_OwnershipId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Home_OwnershipId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LicencedForId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LicencedForId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Home_OwnershipId1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Home_OwnershipId1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Member_Type.Father)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Member_Type.Father)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LicencedFor.Car)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LicencedFor.Car)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
