@model ETAHN.Trip_Check_List

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Trip_Check_List</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Thing_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Thing_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Unit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Unit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Trip_ForId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Trip_ForId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TakenId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TakenId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Trip_For.Study)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Trip_For.Study)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Taken.Yes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Taken.Yes)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
